@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");

.root {
  margin: 0;
  padding: 0;
  background-color: white;
}

.page {
  box-sizing: border-box;
  color: #000;
  background-color: white;
  font-family: Inter, Arial, sans-serif;
  margin: 0 auto;
  max-width: 100vw;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  background-color: wheat;
}

.header__nav {
  list-style: none;
  margin: 0;
  padding: 20px 20px;
  display: flex;
  gap: 20px;
}

.header__link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.4s linear;
}

.header__link:hover {
  opacity: 0.5;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #d7d3c8;
  width: calc(100vw - (60px + 60px));
}

.intro__img-container {
  display: flex;
  position: relative;
}

.intro__img {
  display: block;
  width: 200px;
  height: 249px;
  padding: 40px;
  z-index: 2;
}

.intro__rectangle-vert {
  width: 200px;
  height: 249px;
  background: #e5ccc9;
  position: absolute;
  margin: 30px;
}

.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__name-container {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
}

.intro__name {
  margin: 0;
  padding: 0;
  font-weight: 900px;
  font-size: 54px;
  line-height: 54px;
  z-index: 3;
}

.intro__rectangle-horiz {
  position: absolute;
  background-color: #e5ccc9;
  width: 250px;
  height: 30px;
  bottom: -7px;
  right: -7px;
}

.intro__description {
  margin: 20px 0;
  padding: 0;
  font-weight: 500px;
  font-size: 25px;
  line-height: 23px;
}

.contacts {
  width: 29%;
  margin: 20px 0;
  background-color: #e5ccc9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.contacts__heading {
  font-weight: 500px;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  margin: 0;
}

.contacts__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
}

.contacts__link {
  display: flex;
  margin: 0 0 10px 0;
  font-size: 15px;
}

.contacts__icon {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

.about {
  display: flex;
  flex-direction: column;
  right: 0;
  width: 55%;
  margin: 15px 0 40px 50px;
  padding: 10px;
}

.about__info {
  margin: 0;
  padding: 5px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about__text {
  padding: 0;
  margin: 10px 0 0 0;
  font-weight: 400px;
  font-size: 15px;
  line-height: 1.5;
}

.skills {
  width: 29%;
  margin: 40px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.skills__heading {
  font-weight: 500px;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  margin: 0;
}

.skills__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
  margin: 0;
  row-gap: 12px;
}

.code {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin: 40px 0 40px 50px;
  background-color: #d7d3c8;
  border-radius: 10px;
}

.code__heading {
  margin: 0;
  padding: 10px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.code__intro {
  font-weight: 400px;
  font-size: 15px;
  line-height: 1.5;
  padding-left: 10px;
}

.code__span {
  background-color: #e5ccc9;
  font-weight: 900;
}

.code__description {
  font-weight: 400px;
  font-size: 15px;
  line-height: 1.5;
  padding: 0 10px;
}

.code__example {
  font-weight: 400px;
  font-size: 15px;
  line-height: 1.5;
  padding: 0 10px;
  border: 1px dashed black;
  border-radius: 10px;
}

.projects {
  width: calc(100vw - (60px + 60px));
  margin: 0 0 40px 0;
}

.projects__heading {
  margin: 0 0 30px 0;
  padding: 10px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.projects__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects__element {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.projects__pic {
  border-radius: 30px;
  width: 150px;
  height: 150px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.projects__link {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  color: #000;
  opacity: 1;
  transition: opacity 0.4s linear;
}

.projects__link:hover {
  opacity: 0.5;
}

.languages {
  width: 29%;
  margin: 20px 0 40px 50px;
  padding: 0;
}

.languages__heading {
  padding: 10px;
  margin: 0;
  font-weight: 500px;
  font-size: 20px;
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.languages__list {
  list-style: none;
  padding: 0;
}

.languages__element {
  padding: 0 0 10px 10px;
  font-weight: 400px;
  font-size: 15px;
  line-height: 1.5;
}

.education {
  width: 55%;
  margin: 20px 0 40px;
  background-color: #e5ccc9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.education__heading {
  font-weight: 500px;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  margin: 0;
}
.education__list {
  list-style: none;
  padding: 0;
}

.education__element {
  font-weight: 400px;
  font-size: 15px;
  line-height: 1.5;
  padding: 0 0 10px 10px;
}

.education__link {
  text-decoration: none;
  cursor: pointer;
  color: rgb(0, 102, 255);
  transition: opacity 0.4s linear;
  opacity: 1;
}

.education__link:hover {
  opacity: 0.5;
}

.footer {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
}

.footer__link-gh {
  opacity: 1;
  transition: opacity 0.4s linear;
  padding: 0;
  margin: 0;
}

.footer__link-gh:hover {
  opacity: 0.4;
}

.footer__gh-logo {
  padding: 23px 25px 15px;
  width: 50px;
  height: 50px;
}

.footer__link-rss {
  opacity: 1;
  transition: opacity 0.4s linear;
  padding: 0;
  margin: 0;
}

.footer__link-rss:hover {
  opacity: 0.4;
}

.footer__rss-logo {
  width: 70px;
  height: 70px;
  padding: 15px 25px;
}
